name: Anchore-Container-Scan
permissions:
  contents: read
  pull-requests: read
  security-events: write

# Controls when the action will run.
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  scan:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        FROM:
          - 'ubuntu:questing'
          - 'ubuntu:plucky'
          - 'ubuntu:noble'
          - 'linuxmintd/mint22.2-amd64'
          - 'linuxmintd/mint22-amd64'
          - 'debian:trixie'
          - 'debian:bookworm'
          - 'opensuse/leap:16.0'
          - 'opensuse/leap:15.6'
          - 'fedora:43'
          - 'fedora:42'
          - 'fedora:41'
          - 'fedora:40'
          - 'rockylinux/rockylinux:10.1'
          - 'rockylinux/rockylinux:10.0'
          - 'rockylinux/rockylinux:9.6'
          - 'rockylinux/rockylinux:9.5'
          - 'manjarolinux/base'
          # - 'alex5402/endeavouros'
          # - 'funtoo/stage3-generic_64'

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          fetch-depth: 2
          submodules: false

      # - name: Run CI
      #   env:
      #     FROM:       ${{ matrix.FROM }}
      #     IS_RELEASE: 0
      #   run: script/cibuild

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 #v3.11.1
        env:
          FROM:       ${{ matrix.FROM }}
          IS_RELEASE: 0

      - name: Build local container
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 #v6.18.0
        env:
          FROM:       ${{ matrix.FROM }}
          IS_RELEASE: 0
        with:
          build-args: from=${{ matrix.FROM }}
          tags: localbuild/${{ matrix.FROM }}
          push: false
          load: true

      - name: Scan image
        uses: anchore/scan-action@3aaf50d765cfcceafa51d322ccb790e40f6cd8c5 #v7.2.0
        id: scan
        with:
          image: "localbuild/${{ matrix.FROM }}"
          fail-build: false
          severity-cutoff: critical

      - name: Upload Anchore scan SARIF report
        uses: github/codeql-action/upload-sarif@17783bfb99b07f70fae080b654aed0c514057477 #v4.30.9
        with:
          sarif_file: ${{ steps.scan.outputs.sarif }}
