name: 'GH Actions - PR'
permissions:
  contents: read
  pull-requests: read

on: [ pull_request ]

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        FROM:
          - 'ubuntu:questing'
          - 'ubuntu:plucky'
          - 'ubuntu:noble'
          - 'linuxmintd/mint22.2-amd64'
          - 'linuxmintd/mint22-amd64'
          - 'debian:trixie'
          - 'debian:bookworm'
          - 'opensuse/leap:16.0'
          - 'opensuse/leap:15.6'
          - 'fedora:43'
          - 'fedora:42'
          - 'fedora:41'
          - 'rockylinux/rockylinux:10.1'
          - 'rockylinux/rockylinux:10.0'
          - 'rockylinux/rockylinux:9.6'
          - 'manjarolinux/base'
          - 'alex5402/endeavouros'
          # - 'funtoo/stage3-generic_64'

    steps:
    - name: Checkout repository
      uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      with:
        # We must fetch at least the immediate parents so that if this is
        # a pull request then we can check out the head.
        fetch-depth: 2
        submodules: false

    # Ensure PRs are built against the PR Head
    # As opposed to the merge commit
    - name: Move to PR HEAD
      run: git checkout HEAD^2

    - name: Run CI
      env:
        FROM:       ${{ matrix.FROM }}
        IS_RELEASE: 0
      run: script/cibuild
