name: 'GH Actions - Release'
permissions:
  contents: read
  pull-requests: read

on:
  release:
    types:
      - created
      - edited


jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    environment:
      name: production

    strategy:
      fail-fast: false
      matrix:
        FROM:
          - 'ubuntu:questing'
          - 'ubuntu:plucky'
          - 'ubuntu:noble'
          - 'linuxmintd/mint22.2-amd64'
          - 'linuxmintd/mint22-amd64'
          - 'debian:trixie'
          - 'debian:bookworm'
          - 'opensuse/leap:16.0'
          - 'opensuse/leap:15.6'
          - 'fedora:43'
          - 'fedora:42'
          - 'rockylinux/rockylinux:10.1'
          - 'rockylinux/rockylinux:10.0'
          - 'rockylinux/rockylinux:9.6'
          - 'manjarolinux/base'
          - 'alex5402/endeavouros'
          # - 'funtoo/stage3-generic_64'

    steps:
    - name: Checkout repository
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with:
        fetch-depth: 2
        submodules: false

    - name: Extract tag name etc
      shell: bash
      run: |
        echo "TAG_NAME=$(echo ${GITHUB_REF#refs/tags/} | sed 's/\//_/g')" >> $GITHUB_ENV

    - name: Test tag name etc
      run: |
        echo "${TAG_NAME}"

    - name: Docker Login
      uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef #v3.6.0
      with:
        username: ${{ secrets.DOCKER_HUB_USER }}
        password: ${{ secrets.DOCKER_HUB_KEY }}

    - name: Run CI
      env:
        FROM:       ${{ matrix.FROM }}
        IS_RELEASE: 1
      run: script/cibuild
